.main-header {
  &__top-wrapper {
    .clearfix();
    padding-top: 17px;
    padding-bottom: 22px;
    background-color: @bg-dark-grey;
  }
  &__bottom-wrapper {
    .clearfix();
    background-color: @bg-red;
  }
}

.main-header__right-block {
  .clearfix();
  float: right;
  width: 735px;
}
