.product-card {
  float: left;
  margin-right: 26px;
  text-align: center;
  &:nth-of-type(4n+4) {
    margin-right: 0;
  }
  &_six-items {
    .clearfix();
    width: 242px;
    margin-left: 16px;
    margin-right: 0;
    margin-bottom: 48px;
    text-align: left;
  }
  &_one-item {
    margin-right: 0;
  }
  &__img-wrapper {
    width: 100%;
    margin-bottom: 12px;
    line-height: 0;
    &_six-items {
      float:left;
      width: 87px;
      margin-right: 22px;
    }
  }
  &__text {
    display: block;
    margin-bottom: 5px;
    color: @grey;
  }
  &__price {
    display: inline-block;
    vertical-align: middle;
    font-family: @font-bold;
    &_strikeout {
      padding-right: 8px;
      text-decoration: line-through;
      color: @grey;
    }
  }
  &__stars-wrapper {
    width: 120px;
    height: 14px;
    margin: 5px auto 0 auto;
    &_six-items {
      width: 157px;
    }
  }
  &__star {
    display: inline-block;
    vertical-align: middle;
    width: 15px;
    height: 14px;
    background: url("../img/spritesheet.png") no-repeat -758px -5px;
    &_fill {
      background: url("../img/spritesheet.png") no-repeat -783px -5px;
    }
  }
}

@media @tablet-widths {
  .product-card {
    margin-right: 0;
    &_six-items {
      width: 270px;
      margin-left: 55px;
    }
    &__img-wrapper {
      width: 160px;
      margin-right: 12px;
      &_one-item {
        width: 100%;
      }
      &_six-items {
        width: 95px;
      }
    }
  }
}

@media @mobile-widths {
  .product-card {
    &_six-items {
      margin-top: -10px;
      margin-left: 0;
      margin-bottom: 10px;
    }
    &__img-wrapper {
      &_four-items {
        width: 94px;
        margin: 0 auto;
      }
    }
    &__text {
      &_four-items {
        font-size: 13px;
        line-height: 18px;
        margin-bottom: 0;
      }
    }
    &__price {
      &_four-items {
        font-size: 13px;
        line-height: 18px;
      }
    }
    &__stars-wrapper {
      &_four-items {
        margin: 0 auto 20px auto;
      }
    }
  }
}
